# Auto detect text files and perform LF normalization
* text=auto
/Assets/StreamingAssets/*.bank filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/fmodstudio.bundle/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/fmodstudioL.bundle/** filter=lfs diff=lfs merge=lfs -text
/Source/** filter=lfs diff=lfs merge=lfs -text